@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

.App {
  text-align: center;
  font-family: 'Fira Code', monospace;
}

body{
  background-color:#F8E5CB;
}

#get-started{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border: 2px solid black;
  height: fit-content;
  padding-right: 10px;
  margin-top: 20%;
}

ul{
  display: inline-block;
  text-align: left;
}

li{
  margin-top: 15px;
}

#container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2%;
}

img[usemap], map area{
  outline: none;
}

area {
  cursor: pointer;
}

#circle-container{
  display: flex;
  height: fit-content;
}

#placeholder{
  height: 600px;
}

#github-img{
  width: 30px;
}

#footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
