.App {
  text-align: center;
}

body{
  background-color: cornflowerblue;
}

#container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

img[usemap], map area{
  outline: none;
}

#circle-container{
  display: flex;
  justify-content: center;
  height: fit-content;
}